<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Apache Web Server</title>
    </head>
    <body>
        <h1>Site under maintenance</h1>
        <p>This site is currently under maintenance, we apologize for the inconvenience.</p>
    </body>
</html>